
#ML
pandas
transformers[torch]
torch
shortuuid
datasets
evaluate
scikit-learn



# gcp 
google-cloud-logging
google-cloud-bigquery
opentelemetry-api
opentelemetry-instrumentation
gcsfs
fsspec
cloudml-hypertune
